.section{
    align-items: center;
    display: flex;
    .image{
      display: flex;
      overflow: hidden;
    }
    img{
      position: relative;
      left: 0;
      margin-bottom: .1rem;
      filter: drop-shadow(#1890ff 20px 0);
    }
    .word{
        margin-left: 10px;
    }
    &:hover{
        img{
            left: -20px;
        }
        .word {
            color: #1890ff
        }
    } 
}

